<section id="brewmenu">

    <ul>
        <li><b>Brewmenu</b></li>
        <li><a href="/brews/create" data-container="brewday">new Brew</a></li>
        <li>load Brew</li>
    </ul>
    <div id="timer"></div>
</section>
