<form
<tr>
  <td>
    Name:
  </td>
  <td>
    <input type="text" name="brewName" id="brewName" value="<% if (brewday) {
      brewday.brewName
    } %>"/>
  </td>
</tr>
<tr>
  <td><%= brewday.brewName %></td>
  <td><%= brewday.info %></td>
  <td><%= brewday.recipe %></td>
</tr>
