<h1>{{BrewRecipe.name}}</h1>
<p>{{BrewRecipe.yeast}}</p>
<p>{{BrewRecipe.hops}}</p>

<div id="quickBar">
  <div ng-repeat="beType in BrewEventTypes">
    <form name="quickAddBrewEvent{{beType.name}}">
      <a id="quick{{beType.name}}" class="quickBar button {{beType.name.toLowerCase()}}"
           ng-click="addQuickEvent( QuickBarBrewRecipeEvent, beType)">
        {{beType.name}}
      </a>
    </form>
  </div>
</div>
<div id="BrewRecipeEvents">
  <h2>BrewRecipeEvents</h2>
  <ul>
    <li ng-repeat="BrewRecipeEvent in BrewRecipe.instructions" class="BrewRecipeEvent">
      <form name="new_BrewRecipeEvent_form">
        <label for="name{{BrewRecipeEvent.id}}">Name</label>
        <input type="text" ng-model="BrewRecipeEvent.name" name="name" id="name{{BrewRecipeEvent.id}}"/>

        <label for="duration{{BrewRecipeEvent.id}}">Duration</label>
        <input type="time"  ng-model='BrewRecipeEvent.duration' id="duration{{BrewRecipeEvent.id}}"/>

        <label for="eventType{{BrewRecipeEvent.id}}">eventType</label>
        <select ng-model="BrewRecipeEvent.eventType" name="eventType" id="eventType{{BrewRecipeEvent.id}}"
                ng-options="BrewEventType.id as BrewEventType.name for BrewEventType in BrewEventTypes" ng->
        </select>

        <input type="hidden" ng-model="BrewRecipeEvent.recipe" name="recipe" value="{{BrewRecipe.id}}"/>
        <input type="hidden" ng-model="BrewRecipeEvent.id" name="id" value="{{BrewRecipeEvent.id}}"/>
        <a href="" ng-click="removeEvent(BrewRecipeEvent)"
           class="button delete">Delete</a>
        <a ng-click="addEvent( BrewRecipeEvent)" class="button save">Save</a>
      </form>
    </li>
  </ul>

  <hr/>
  <form name="new_BrewRecipeEvent_form">

    <label for="name">Name</label>
    <input type="text" ng-model="BrewRecipeEvent.name" name="name" id="name"/>

    <label for="duration">Start</label>
    <input type="time"  ng-model='BrewRecipeEvent.duration' id="duration"/>

    <label for="eventType">eventType</label>
    <select ng-model="BrewRecipeEvent.eventType" name="eventType" id="eventType"
            ng-options="BrewEventType.id as BrewEventType.name for BrewEventType in BrewEventTypes">

    </select>

    <input type="hidden" ng-model="BrewRecipeEvent.recipe" name="recipe" value="{{BrewRecipe.id}}"/>
    <a ng-click="addEvent( BrewRecipeEvent)" class="create button">Create</a>
  </form>
</div>
