
<form name="new_BrewEvent_form">
  <label for="name">Name</label>
  <input type="text" ng-model="BrewEvent.name" name="name" id="name"/>

  <label for="start">Start</label>
  <input type="date" ng-model="BrewEvent.start" name="start" id="start"/>

  <label for="eventType">eventType</label>
  <select ng-model="BrewEvent.eventType" name="eventType" id="eventType"
          ng-options="BrewEventType.name for BrewEventType in BrewEventTypes">

  </select>

  <input type="hidden" ng-model="BrewEvent.recipe" name="recipe" value="{{BrewRecipe.id}}"/>
  <button ng-click="addEvent(BrewRecipe, BrewEvent)">Save BrewEvent</button>
  <button ng-click="save(BrewEvent)">Save BrewEvent</button>
</form>
