<h1>Add / Edit BrewDay</h1>
<form name="new_BrewDay_form">


  <label for="name">Name</label>
  <input type="text" ng-model="BrewDay.name" name="name" id="name"/>

  <label for="info">Info</label>
  <input type="text" ng-model="BrewDay.info" name="info" id="info"/>

  <label for="brewDate">brewDate</label>
  <input type="datetime" ng-model="BrewDay.brewDate" name="brewDate" id="brewDate"/>

  <select ng-model="BrewEvent.recipe" name="recipe" id="recipe"
          ng-options="BrewRecipe.id as BrewRecipe.name for BrewRecipe in BrewRecipes">

  </select>

  <button ng-click="save(BrewDay)">Save BrewDay</button>
  <button ui-sref="Brewdays.list">Cancel</button>
</form>
