<h1>Brewdays</h1>
<ul>
  <li ng-repeat="BrewDay in Brewdays">
    <div>
      <p ng-repeat="(key, val) in model_def">{{key}} : {{BrewDay[key]}}</p>
    </div>
    <div>
      <p>{{BrewDay.brewName}}</p>

      <p>{{BrewDay.brewDate}}</p>

      <p>{{BrewDay.recipe.name}}</p>
    </div>
    <a href="" ui-sref="Brewdays.edit({ id: BrewDay.id })">Edit</a>
    <a href="" ng-click="remove(BrewDay)">Delete</a>
  </li>
</ul>
<div ng-show="Brewdays.length === 0">Looks like you haven't added any Brewdays yet?</div>
<a ng-hide="adding" ui-sref="Brewdays.add">Add A New BrewDay</a>
