.gauges {
    width: 150px;
    height: 100px;
    float: left;
}

#brewmenu li {

    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

#phases li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}