<h1>{{BrewRecipe.name}}</h1>
<p>{{BrewRecipe.yeast}}</p>
<p>{{BrewRecipe.hops}}</p>

<div id="quickBar">
  <div ng-repeat="beType in BrewEventTypes">
    <form name="quickAddBrewEvent{{beType.name}}">
      <div id="quick{{beType.name}}" class="quickBar {{beType.name.toLowerCase()}}"
           ng-click="addQuickEvent( QuickBarBrewEvent, beType)">
        {{beType.name}}
      </div>
    </form>
  </div>
</div>
<div id="brewEvents">
  <h2>BrewEvents</h2>
  <ul>
    <li ng-repeat="BrewEvent in BrewRecipe.instructions">
      <form name="new_BrewEvent_form">
        <label for="name{{BrewEvent.id}}">Name</label>
        <input type="text" ng-model="BrewEvent.name" name="name" id="name{{BrewEvent.id}}"/>

        <label for="start{{BrewEvent.id}}">Start</label>
        <input type="datetime" ng-model="BrewEvent.start" name="start" id="start{{BrewEvent.id}}"/>

        <label for="eventType{{BrewEvent.id}}">eventType</label>
        <select ng-model="BrewEvent.eventType" name="eventType" id="eventType{{BrewEvent.id}}"
                ng-options="BrewEventType.id as BrewEventType.name for BrewEventType in BrewEventTypes" ng->
        </select>

        <input type="hidden" ng-model="BrewEvent.recipe" name="recipe" value="{{BrewRecipe.id}}"/>
        <input type="hidden" ng-model="BrewEvent.id" name="id" value="{{BrewEvent.id}}"/>
        <a href="" ng-click="removeEvent(BrewEvent)"
           class="delete">Delete</a>
        <a ng-click="addEvent( BrewEvent)" ckass="save">Save</a>
      </form>
    </li>
  </ul>

  <hr/>
  <form name="new_BrewEvent_form">

    <label for="name">Name</label>
    <input type="text" ng-model="BrewEvent.name" name="name" id="name"/>

    <label for="start">Start</label>
    <input type="datetime" ng-model="BrewEvent.start" name="start" id="start"/>

    <label for="eventType">eventType</label>
    <select ng-model="BrewEvent.eventType" name="eventType" id="eventType"
            ng-options="BrewEventType.id as BrewEventType.name for BrewEventType in BrewEventTypes">

    </select>

    <input type="hidden" ng-model="BrewEvent.recipe" name="recipe" value="{{BrewRecipe.id}}"/>
    <a ng-click="addEvent( BrewEvent)" class="create">Create</a>
  </form>
</div>
