<h1>Breweventtypes</h1>
<ul>
  <li ng-repeat="BrewEventType in Breweventtypes">
    <div>
      <p ng-repeat="(key, val) in model_def">{{key}} : {{BrewEventType[key]}}</p>
    </div>
    <a href="" ui-sref="Breweventtypes.edit({ id: BrewEventType.id })">Edit</a>
    <a href="" ng-click="remove(BrewEventType)">Delete</a>
  </li>
</ul>
<div ng-show="Breweventtypes.length === 0">Looks like you haven't added any Breweventtypes yet?</div>
<a ng-hide="adding" ui-sref="Breweventtypes.add">Add A New BrewEventType</a>
